:root {
  --font-family: "Atkinson Hyperlegible", Open Sans, Arial;
  --font-size: clamp(100%, calc(1.1em + 0.6vw), 24px);

  --color-bg: #eee;
  --color-bg-secondary: #ffffffe6;
  --color-bg-src-block: #ffffff51;
  --color-text: #2e2e2e;
  --color-text-secondary: #787878;
  --color-border: #ddd;
  --color-link: #07a;
  --color-selection-background: #ffec8f;
  --color-selection-text: #454545;
  --color-border-table: #777;
  --color-bg-table: #ddd;
  --color-box-shadow: rgba(0, 0, 0, 0.3);

  --dark-color-bg: #121212;
  --dark-color-bg-secondary: #1e1e1e;
  --dark-color-bg-src-block: #1e1e1e;
  --dark-color-text: #e6e6e6;
  --dark-color-text-secondary: #b3b3b3;
  --dark-color-border: #3e3e3e;
  --dark-color-link: #679eff;
  --dark-color-selection-background: rebeccapurple;
  --dark-color-selection-text: #eee;
  --dark-color-border-table: #9e9e9e;
  --dark-color-bg-table: #1e1e1e;
  --dark-color-box-shadow: rgba(255, 255, 255, 0.3);


  --table-border: 2px solid var(--color-text);
  --table-cell-border: 1px solid var(--color-border);
  --pagefind-ui-font: var(--font-family);

  --content-width: 900px;
  --pagefind-ui-scale: 1.2;
}

body.dark {
  --pagefind-ui-text: var(--dark-color-text);
  --pagefind-ui-background: var(--dark-color-bg-secondary);
  --pagefind-ui-primary: var(--dark-color-text);
}

::selection {
  background: var(--color-selection-background);
  background: light-dark(var(--color-selection-background), var(--dark-color-selection-background));
  color: var(--color-selection-text);
  color: light-dark(var(--color-selection-text), var(--dark-color-selection-text));
}

::target-text {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto;
  text-underline-offset: 2px;
  text-decoration-color: rebeccapurple;
}

@view-transition {
  navigation: auto;
}

/**
* @see: https://daverupert.com/2023/05/getting-started-view-transitions/#:~:text=I%20mostly%20use,a%20long%20time
* 使得在进行 view-transition 的时候，标题的文字不会变得特别大
*/
.title {
  width: fit-content;
  /** 居中标题 */
  margin-left: auto;
  margin-right: auto;
}

/**
 * @see: https://www.a11yproject.com/posts/understanding-vestibular-disorders/
 */
@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }

  a {
    view-transition-name: none!important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: outline-bounce .5s;
  }
}

@keyframes outline-bounce {
  0% { outline-offset: .25rem }
  50% { outline-offset: .5rem }
  100% { outline-offset: .25rem }
}

/** :focus-visible is a neat pseudo-class that only applies focus styles when users navigate with the keyboard. */
*:focus-visible {
  outline-color: currentColor;
  outline-style: solid;
  outline-offset: .25rem;
  outline-width: .25rem;
  border-radius: .25rem;
}

html {
  font-size: var(--font-size);
}

mark {
  padding: .15rem;
  background: var(--color-selection-background);
  background: light-dark(var(--color-selection-background), var(--dark-color-selection-background));
  color: var(--color-text);
  color: light-dark(var(--color-text), var(--dark-color-text));
  padding: 4px 4px 0;
}

/** ---------------------------------- 'pagefind-ui' ----- */
.pagefind-ui--reset mark {
    background: var(--color-selection-background);
    background: light-dark(var(--color-selection-background), var(--dark-color-selection-background));
    color: var(--color-selection-text);
    color: light-dark(var(--color-selection-text), var(--dark-color-selection-text));
}

.pagefind-ui--reset ::placeholder {
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
}

.pagefind-ui--reset.pagefind-ui--reset.pagefind-ui--reset ::placeholder {
  opacity: .5;
}

/** ---------------------------------- 'Atkinson Hyperlegible' ----- */
/** @see: https://www.brailleinstitute.org/freefont/ */
/** Regular version */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.eot');
  src: local('Atkinson Hyperlegible'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.svg#Atkinson-Hyperlegible') format('svg');
  font-weight: normal;
  font-style: normal;
  /* font-display: fallback; */
}

/** Bold version */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.eot');
  src: local('Atkinson Hyperlegible Bold'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Bold-102.svg#Atkinson-Hyperlegible') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/** Italic version */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.eot');
  src: local('Atkinson Hyperlegible Italic'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Italic-102.svg#Atkinson-Hyperlegible') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/** Bold Italic version */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot');
  src: local('Atkinson Hyperlegible Bold Italic'), url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'),
       url('/fonts/Atkinson-Hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.svg#Atkinson-Hyperlegible') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/** ---------------------------------- 'Atkinson Hyperlegible' ----- */

body {
  color: var(--color-text);
  color: light-dark(var(--color-text), var(--dark-color-text));
  line-height: 3ex;
  background: var(--color-bg);
  background: light-dark(var(--color-bg), var(--dark-color-bg));
  margin: 20px auto;
  padding: 0 10px;
  font-family: var(--font-family);
  text-wrap: pretty;
}

code {
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

blockquote {
  margin: 1em 0;
  /** padding top/bottom = 0 will make <p> to collapse margin */
  padding: 0px 15px;
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
  border-left: 4px solid var(--color-border);
  border-left: 4px solid light-dark(var(--color-border), var(--dark-color-border));
}

a {
  color: var(--color-link);
  color: light-dark(var(--color-link), var(--dark-color-link));
}

select {
  font-size: var(--font-size);
  padding: 4px;
  border-radius: .25rem;
  color: var(--color-text);
  color: light-dark(var(--color-text), var(--dark-color-text));
}

#preamble nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

#preamble nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  flex-wrap: wrap;
}

/* Dim non-hover link */
/* #preamble nav ul, */
/* #text-table-of-contents ul, */
/* .org-ul:has(a[style*="view-transition-name:"]) { */
/*   @media (hover) and (prefers-reduced-motion: no-preference) { */
/*     & > li { */
/*       transition: opacity .25s ease; */
/*     } */

/*     &:hover > li:not(:hover) { */
/*       opacity: .25; */
/*     } */
/*   } */
/* } */

/** 固定页眉在顶部，但是会影响链接跳转，遮盖链接位置 */
/* #preamble { */
/*   position: sticky; */
/*   top: 0; */
/*   background-image: radial-gradient(transparent 1px, var(--color-bg) 1px); */
/*   background-size: 4px 4px; */
/*   backdrop-filter: saturate(50%) blur(4px); */
/*   -webkit-backdrop-filter: saturate(50%) blur(4px); */
/*   z-index: 1; */
/*   padding: 8px 0; */
/* } */

figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.content img {
  max-width: 100%;
  object-fit: contain;
}

img.inline-image {
  width: 1em;
  height: 1em;
  vertical-align: -3.5px;
}

.content iframe {
  width: 100%;
  min-height: 300px;
  border: 1px dashed var(--color-border);
  border: 1px dashed light-dark(var(--color-border), var(--dark-color-border));
}

code {
  background-color: var(--color-border);
  background-color: light-dark(var(--color-border), var(--dark-color-border));
  border-radius: 6px;
  padding: .15em .25em;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: 0.9em;
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
}

summary {
  cursor: pointer;
}

:is(.org-ol, .org-ul, dd) :is(pre.example, .org-src-container) {
    margin-left: -40px;
}

.org-src-container {
  position: relative;
  padding-top: 2em;
  border-color: var(--color-border);
  border-color: light-dark(var(--color-border), var(--dark-color-border));
  border-width: 1px;
  border-style: solid;
  background-color: var(--dark-color-bg-src-block);
  /* background-color: light-dark(var(--color-bg-src-block), var(--dark-color-bg-src-block)); */
  margin: 0.5em 0;
}

.code-copy-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 2;
  font-size: 0.9em;
  padding: 2px 0px;
  cursor: pointer;
  border: none;
  transition: color 0.2s;
  color: var(--dark-color-text);
  background: unset;

  &:hover {
    color: var(--color-link);
    color: light-dark(var(--color-link), var(--dark-color-link));
  }
}

pre.example,
pre.src {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas, "Courier New", Courier, monospace;
  color: var(--color-text);
  color: light-dark(var(--color-text), var(--dark-color-text));
  font-size: .8em;
  margin-left: 0;
  margin-right: 0;
}

pre.src {
    margin: 0;
    border: unset;
    background: unset;
    color: var(--dark-color-text);
}

pre.src::before {
  font-size: .8em;
  color: light-dark(var(--color-text), var(--dark-color-text));
  background-color: transparent;
}

/* 不太重要，且和复制按钮重叠，所以隐藏 */
pre.src:hover::before {
  display: none;
}

@media (prefers-color-scheme: dark) {
  pre.src > *,
    pre.example > * {
      filter: invert(20%) brightness(200%);
    }
}

/* html:has(meta[name="color-scheme"][content="dark"]) pre.src > *, */
/* html:has(meta[name="color-scheme"][content="dark"]) pre.example > * { */
/*   filter: invert(20%) brightness(200%); */
/* } */


.ally-nav {
  position: absolute;
  top: -10rem;
  z-index: 10000;
  left: .5rem;
  right: .5rem;
}

.ally-nav a {
  background-color: var(--color-bg-secondary);
  background-color: light-dark(var(--color-bg-secondary), var(--dark-color-bg-secondary));
  font-weight: 600;
  left: 0;
  padding: .5rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.ally-nav a:focus {
  box-shadow: 0 1px 2px var(--dark-color-bg-secondary);
  box-shadow: 0 1px 2px light-dark(var(--dark-color-bg-secondary), var(--color-bg-secondary));
  text-decoration: none;
  top: 10rem;
}

/*
 * table
 * @see: https://piccalil.li/blog/styling-tables-the-modern-css-way/
 */

table {
  border-block-start: var(--table-border);
  border-block-end: var(--table-border);
  border-collapse: collapse;
  border-color: var(--color-border-table);
  border-color: light-dark(var(--color-border-table), var(--dark-color-border-table));
  text-align: start;
  caption-side: bottom;
}

.table-wrapper {
  overflow: auto;
}

/* override org publish default style */
table th.org-left {
  text-align: start;
}

thead {
  border-block-end: var(--table-border);
  border-color: var(--color-border-table);
  border-color: light-dark(var(--color-border-table), var(--dark-color-border-table));
}

thead,
tfoot {
  background: var(--color-bg-table);
  background: light-dark(var(--color-bg-table), var(--dark-color-bg-table));
}

tbody tr:nth-child(even) {
  background: var(--color-bg-table);
  background: light-dark(var(--color-bg-table), var(--dark-color-bg-table));
  background: light-dark(color-mix(in srgb , var(--color-bg-table), transparent 60%), color-mix(in srgb, var(--dark-color-bg-table), transparent 60%));
}

table tr {
  border-block-start: var(--table-cell-border);
  border-color: var(--color-border);
  border-color: light-dark(var(--color-border), var(--dark-color-border));
}

thead th {
  vertical-align: bottom;
}


td,th {
  padding: 0.3em 0.6em;
  vertical-align: baseline;
}

/* kbd */

kbd {
  background-color: var(--color-bg);
  background-color: light-dark(var(--color-bg), var(--dark-color-bg));
  color: var(--color-text);
  color: light-dark(var(--color-text), var(--dark-color-text));
  border: 1px solid;
  border-color: var(--color-border);
  border-color: light-dark(var(--color-border), var(--dark-color-border));
  border-radius: .25rem;
  box-shadow: 1px 2px 2px var(--color-box-shadow);
  box-shadow: 1px 2px 2px light-dark(var(--color-box-shadow), var(--dark-color-box-shadow));
  display: inline-block;
  font-weight: bold;
  padding: 0 .25rem;
  white-space: nowrap;
}

details {
    padding: 1em;
    border-radius: 15px;
    font-size: 0.9em;
    border: 1px solid var(--color-border);
    border-color: light-dark(var(--color-border), var(--dark-color-border));
    box-shadow: 0.05em 0.1em 5px 0.01em var(--color-box-shadow);
    box-shadow: 0.05em 0.1em 5px 0.01em light-dark(var(--color-box-shadow), var(--dark-color-box-shadow));
}

/* media query */
@media screen and (min-width: 900px) {
  body {
    max-width: 90vw;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: var(--content-width);
  }
}

@media screen and (min-width: 1600px) {
  .sidenote-container {
      /* 减去 1em 避免溢出屏幕 */
      width: calc((100vw - var(--content-width)) / 2 - 1em);
  }
}

@media (max-width: 1600px) {
  .sidenote-container, .sidenote {
    display: none !important;
  }
}

.sidenote-container {
  position: absolute;
  top: 0;
  left: 100%;
  pointer-events: none;
  z-index: 1;
  box-sizing: border-box;
}

.sidenote {
  width: 100%;
  font-size: 0.85em;
  color: var(--color-text-secondary);
  color: light-dark(var(--color-text-secondary), var(--dark-color-text-secondary));
  padding: 0 3em;
  box-sizing: border-box;
  pointer-events: auto;
  display: flex;
  gap: 0.2em;
  align-items: flex-start;
}

.sidenote-num {
  display: inline-block;
  color: var(--color-link);
  color: light-dark(var(--color-link), var(--dark-color-link));
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    background: var(--color-selection-background);
    background: light-dark(var(--color-selection-background), var(--dark-color-selection-background));
  }
}

.sidenote-ref-highlight {
  background: var(--color-selection-background);
  background: light-dark(var(--color-selection-background), var(--dark-color-selection-background));
  transition: background 0.2s;
}